$translate = 17px
$red = #ec1c2d
$faces = 3
$rotate = 360/$faces deg

bodyCopy()
  line-height 1.4em
  font-size .9em
  font-family 'Merriweather', serif
  width 80%
  display block
  margin 5vw auto 10vw