$blue = #11242f
$secondary-blue = #B7BCBF
$hover = #FFC328
$transition-time = 0.2s
$radius = 2px

button()
  font-family 'Open Sans', sans-serif
  display inline-block
  resize none
  outline none
  margin 2em initial 0
  padding .7em
  cursor pointer
  text-align center
  border-radius $radius
  background lighten($hover, 40%)
  border none

  &:hover
    background $hover
    // border 1px solid lighten($blue, 89%)