<div class="image">
  <img src="http://dummyimage.com/600x400/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
</div>
<p>At Quotidian Ventures, we firmly believe in working closely and collaboratively as a team. In working with us, you have access to each and every partner.</p>