<div class="about">
  <div class="content">
    <p class="bodyCopy">Quotidian Ventures is a seed stage fund founded in NYC in 2010 by Pedro Torres Picón. Our passion is helping founders create technology products that modernize large industries in which they have deep domain expertise. Whether the entrepreneur has a technical background or not, we provide the resources and hands on support needed to allow him or her to make the difficult transition from industry expert to internet entrepreneur.</p>
  </div>
</div>