{{#each}}
    <section class="banner">
        <img {{bind-attr src="image"}} alt="Wikitongues" class="fallback">
        <h1>{{text}}</h1>
    </section>
{{/each}}
{{about-subheader}}
<section class="page">
    <p class="drop"> We stand for the values of diversity and respect between the all the peoples of Earth.</p>
    <p>We stand for the rights of individuals and their communities to live where they live and to be who they are, thinking, speaking and acting freely.</p>
    <p>We pledge to forge connections across vast geographies, building bridges of understanding within and between cultures, and ensuring that every person has access to the breadth and the beauty of human experience.</p>
    {{#link-to "team" classNames="link" tagName="p"}}We are Wikitongues.{{/link-to}}

    <p>When the Internet first went public in 1995, more than seven thousand languages were spoken around the world. Today, that reality is in rapid decline, as the side-effects of globalization provoke the death of a different language every two weeks. Unless something changes, this rate is likely to spell the extinction of more than 3,000 languages before the turn of the next century. This would be a catastrophic tragedy on an intimate, human scale. For the death of thousands of languages means not just the disappearance of grammar systems and vocabularies, but the human communities who use them as well.</p>

    <p>Apologists for this reality may be inclined to argue that culture is dynamic, and that languages have always gone extinct to make room for new ones. After all, there would be no French without the death of Latin, and no English had Old Saxon not faded away. While this is without a doubt, the twenty-first century’s rate of language death is unprecedented. It stems not from the natural ebb and flow of human diversity, but the marginalizing forces of the nineteenth and twentieth centuries, when world governments began pressuring minorities to abandon their cultures and adopt arbitrarily-defined ‘national languages’.</p>

    <p>This reality is changing, however slowly. Documents like the European Union’s Charter for Regional and Minority Languages and Mexico’s General Law of Linguistic Rights indicate that world leaders are beginning to prioritize the importance of sustainable diversity. Moreover, the Internet has created a safe space for speakers of any language speakers to meet, communicate, and share in their commonality of expression. Though it is but a minor example, by the end of 2014, Wikipedia has been translated into nearly 500 languages, a number that is likely to continue growing as the web reaches millions of new users every year.</p>

    <p>Wikitongues is an affirmative response this welcome change. We are a community of volunteers who believe that globalization can be a force for good in the spirit of Papua New Guinea’s national motto: unity through diversity. As the world gets smaller, it need not to descend into suffocating monotony. We can all be connected and stay true to whom we are.</p>

    <p>Based in over fourteen countries, Wikitongues volunteers travel when they can and are always listening, working hard to record new languages so that everyone can continue learning from others, and revel in all the depth and nuance of human culture. If you like what we’re doing, stay up to date! Subscribe to our YouTube channel for new videos every week. If you believe in what we’re doing, get involved! Our community is ever-expanding and always driven individuals who share our belief in the importance of culture and history. </p>

    <p>You can also make a tax-deductible donation: we’re a non-profit organization, and rely on contributions to see our mission through.</p>
</section>