<div class="careers">
  <div class="content">
    <p class="quotidian bodyCopy">Quotidian Ventures is not currently hiring but drop us a line if you're interesting.</p>
    <h1>Openings in our portfolio companies</h1>
    <p class="bodyCopy">Our portfolio companies are hiring!</p>
  </div>
</div>