{{app-navigation}}
<section class="dashboard">
  <p class="dashboardSections">Welcome to Wikitongues Poly!</p>
  {{#each}}
    <section class="book">
      {{book-head book=this tagName="section" classNames="book-head"}}
    </section>
  {{/each}}

  {{#link-to "create_book" classNames="book newBook" tagName="button"}}
    <div class="wrapper">
      <img src="img/newBook.svg" alt="">
      <p>+</p>
    </div>
  {{/link-to}}
</section>
