{{landing-navigation}}
<section class="banner getInvolved"></section>
<section class="page getInvolved">
    <h1>Get involved</h1>
    <p>Wikitongues wouldn't be anywhere without our community of volunteers. If you believe in what we're doing, there are plenty of ways to get involved.</p>
    <ul class="activities">
      <li>
        {{#link-to "submit" classNames="subheaderLink" tagName="button"}}Submit a video{{/link-to}}
      </li>
      <li>
        {{#link-to "volunteer" classNames="subheaderLink" tagName="button"}}Volunteer{{/link-to}}
      </li>
      <li>
        {{#link-to "contact" classNames="subheaderLink" tagName="button"}}Contact{{/link-to}}
      </li>
    </ul>
</section>