<div class="index">
  <div class="content">
    <h1>We are
      <span id="indexCycle">
        <span class="indexCycleWrapper">
          <span class="indexCycleOption">pre-product</span><span class="indexCycleOption">pre-traction</span><span class="indexCycleOption">pre-seed</span>
        </span>
      </span> investors <br>in <span>New York</span> companies <br> with unique <span>founder/market fit.</span></h1>
    {{#link-to "companies"}}See who we work with{{/link-to}}
  </div>
</div>