<section class="page">
  <h1>Legal</h1>
  <div class="legal">
    <h2>Terms of Service</h2>
    <p>By submitting a video to Wikitongues, you hereby agree:</p>
    <ol>
      <li><p>to have secured the consent of the individual or individuals who appear in that video to record them,</p></li>
      <li><p>that you either possess or have obtained the legal rights to share this video online, and </p></li>
      <li><p>that you irrevocably grant Wikitongues and its licensees, successors and assigns the right to license and distribute and use the video of you, including your voice, picture, portrait or likeness as captured in a still image from the footage, in any and all media and for any use whatsoever (except illegal or pornographic), including without limitation, Wikitongues, art, stock, advertising, trade and promotion, in perpetuity.</p></li>
    </ol>
    <p>If you should receive a copy of the footage, you shall only use it for your own personal use and you shall not authorize anyone else to use it.</p>
    <p>You agree and acknowledge that you have no commercial monetary rights to the footage and that Wikitongues owns all rights to the footage, including the right to copyright the footage.</p>
    </div>
    <div class="legal">
      <h2>Privacy Policy</h2>
      <p>Wikitongues will never give or sell your personal information to any third-party organization or individual without your explicit consent.</p>
    </div>
</section>