{{landing-navigation}}
<form class="login" action="#" method="post">
  <h2>Already have an account?</h2>
  <label>
    <input type="text" name="username" value="Username" onclick="this.value='';" onblur="this.value=!this.value?'Username':this.value;">
  </label>
  <label>
    <input type="text" name="password" value="Password"  onclick="this.value='';" onblur="this.value=!this.value?'Password':this.value;">
  </label>
  <section class="loginOptions">
    <label><input type="checkbox" name="RememberMe" checked>Remember Me</label>
    <a class>Reset Password</a>
  </section>
  {{#link-to "dashboard" tagName="button"}}LogIn{{/link-to}}
  <a>Or create a new account</a>
</form>