<section class="banner mission">
  <p class="credit">Cristina Panicali</p>
</section>

{{about-subheader}}
<section class="page mission">
  <section class="excerpt">
    <p>We stand for the values of diversity and respect between all the peoples of Earth.</p>
    <p>We stand for the rights of individuals and their communities to live where they live and to be who they are, thinking, speaking and acting freely.</p>
    <p>We pledge to forge connections across cultural boundaries, build bridges of understanding between cultures and countries, and ensure that every person has access to the breadth and the beauty of human experience.</p>
    <p>We are Wikitongues.</p>
  </section>

  <p>When the Internet first went public in 1995, more than seven thousand languages were spoken around the world. Today, that reality is in rapid decline, as the side-effects of globalization provoke the death of a different language every two weeks. Unless something changes, this rate is likely to spell the extinction of more than 3,000 languages before the turn of the next century. This would be a catastrophic tragedy on an intimate, human scale, for the death of thousands of languages means not just the disappearance of grammar systems and vocabularies, but the human communities who use them as well.</p>

  <p>Apologists for this reality may be inclined to argue that culture is dynamic, and that languages have always gone extinct to make room for new ones. After all, there would be no French without the death of Latin, and no English had Old Saxon not faded away. While this is without a doubt, the twenty-first century’s rate of language death is unprecedented. It stems not from the natural ebb and flow of human diversity, but the marginalizing forces of the nineteenth and twentieth centuries, when world governments began pressuring minorities to abandon their cultures and adopt arbitrarily-defined ‘national languages’.</p>

  <p>This reality is changing, however slowly. Documents like the European Union’s <a href="http://www.coe.int/t/dg4/education/minlang/" target="_blank">Charter for Regional and Minority Languages</a> and Mexico’s <a href="http://www.diputados.gob.mx/LeyesBiblio/pdf/257.pdf" target="_blank">General Law of Linguistic Rights</a> indicate that world leaders are beginning to prioritize the importance of sustainable diversity. Moreover, the Internet has created a safe space for speakers of any language to meet, communicate, and share in their commonality of expression. Though it is but a minor example, by the end of 2014, Wikipedia <a href="http://en.wikipedia.org/wiki/List_of_Wikipedias" target="_blank">has been translated</a> into nearly 300 languages, a number that is likely to continue growing as the web reaches millions of new users every year.</p>

  <p>Wikitongues is an affirmative response to this welcome change. We are a community of volunteers who believe that globalization can be a force for unity through diversity. As the world gets smaller, our cultural heritage need not suffer from mass extinction.</p>

  <p>Based in over fourteen countries, Wikitongues volunteers travel when they can and are always listening, working hard to record new languages so that everyone can continue learning from others, and revel in all the depth and nuance of identity. If you like what we’re doing, stay up to date! Subscribe to us <a href="http://www.youtube.com/subscription_center?add_user=wikitongues" target="_blank">on YouTube</a> for new videos every week. If you believe in what we’re doing, {{#link-to "get_involved"}}get involved{{/link-to}}! Our community is open to everyone.</p>

  <p>You can also make a <a href="https://www.fracturedatlas.org/site/fiscal/profile?id=11735" target="_blank">tax-deductible donation</a>: we’re a non-profit organization, and rely on contributions to see our mission through.</p>
</section>