<div class="news">
  <div class="content">
    <h1>News</h1>
    {{!-- <div id="tint">
      <script src="http://d36hc0p18k1aoc.cloudfront.net/public/js/modules/tintembed.js"></script><div class="tintup" data-id="qventures" data-columns="4" data-expand="true" style="height:600px;width:100%;">    <div class="tintup-inner"></div>    <a href="http://www.tintup.com" style="width:118px;height:31px;background-image:url(//d33w9bm0n1egwm.cloudfront.net/assets/logos/poweredbytintsmall.png);position:absolute;bottom:10px;right: 20px;text-indent: -9999px;z-index:9;">social media event display</a></div>
    </div> --}}
  </div>
</div>