<section class="subheader">
  <ul>
    {{#link-to "mission" className="footerLink" tagName="li"}}Mission{{/link-to}}
    {{#link-to "team" classNames="footerLink" tagName="li"}}Team{{/link-to}}
    {{!-- {{#link-to "projects" className="footerLink" tagName="li"}}Projects{{/link-to}} --}}
  </ul>
</section>