<nav>
  <div class="logo">
    {{#link-to "index" tagName="li"}}
      <img src="img/logos/horizontalLockup.svg" alt="Wikitongues">
    {{/link-to}}
  </div>
  <ul class="top-nav">
    {{#link-to "dashboard" tagName="li"}}Dashboard{{/link-to}}
    {{#link-to "profile" tagName="li"}}Profile{{/link-to}}
    {{#link-to "index" tagName="li"}}Log Out{{/link-to}}
  </ul>
</nav>