<ul class="org">
  <li>{{#link-to "about" classNames="about" title="about"}}About{{/link-to}}</li>
  {{!-- <li>{{#link-to "careers" classNames="careers" title="careers"}}Careers{{/link-to}}</li> --}}
  <li>{{#link-to "contact" classNames="contact" title="contact"}}Contact{{/link-to}}</li>
</ul>
<ul class="social">
  <li><a href="https://twitter.com/qventures">Twitter</a></li>
  <li><a href="https://angel.co/qventures">AngelList</a></li>
  <li><a href="http://nytm.org/made">&#9829; NY</a></li>
</ul>
