<section class="subheader">
  <ul>
    {{#link-to "submit" classNames="subheaderLink" tagName="li"}}Submit  a video{{/link-to}}
    {{#link-to "volunteer" classNames="subheaderLink" tagName="li"}}Volunteer{{/link-to}}
    {{#link-to "contact" classNames="subheaderLink" tagName="li"}}Contact{{/link-to}}
  </ul>
</section>