<nav>
  <div class="logo">
    {{#link-to "index" tagName="li"}}
      <img src="img/logos/horizontalLockup.svg" alt="Wikitongues">
    {{/link-to}}
  </div>
  <ul class="top-nav">
    {{#link-to "index" tagName="li"}}Home{{/link-to}}
    {{#link-to "mission" tagName="li"}}About{{/link-to}}
    {{!-- {{#link-to "expeditions" tagName="li"}}Expeditions{{/link-to}} --}}{{!-- Expeditions should live inside of Projects --}}
    {{!-- {{#link-to "projects" tagName="li"}}Projects{{/link-to}} --}}
    {{!-- {{#link-to "books" tagName="li"}}Phrase Books{{/link-to}} --}}
    {{#link-to "get_involved" tagName="li"}}Get Involved{{/link-to}}
    {{#link-to "login" tagName="li"}}Log In{{/link-to}}
    <li class="donate">
      <a href="https://www.fracturedatlas.org/site/fiscal/profile?id=11735" target="_blank">Donate</a>
    </li>
  </ul>
</nav>