<div class="newPhrase">
  <input class="input" type="text" value="Source Phrase" tabindex=1 onclick="this.value='';" onblur="this.value=!this.value?'Source Phrase':this.value;">
  <a class="icon save" title="Save">Save</a>
</div>