<div class="options-wrapper">
  <div class="options">
    <a>
      <img src="img/poly/sound.svg" alt="">
    </a>
    <a>
      <img src="img/poly/video.svg" alt="">
    </a>
    {{!-- <a>
      <img src="img/poly/gender-m.svg" alt="">
    </a>
    <a>
      <img src="img/poly/new.svg" alt="">
    </a> --}}
  </div>
</div>