<div class="guidelines">
  <section class="page">
    <h1>Video Guidelines</h1>
    <button {{action "hideGuidelines"}}>Close</button>
    <p>Wikitongues accepts videos from people all over the world. In order to provide content that is consistent, please read below for a description of what we look for.</p>
    <ul>
        <li>
            <h4>Subject</h4>
            <p>You. Talk about yourself — your language, country, or culture; your family, passions or home. Be yourself! Speak formally or informally, in the accent you’re most comfortable. Be comfortable! Keep in mind that first and foremost, you’re speaking for yourself.</p>
        </li>
        <li>
            <h4>Style</h4>
            <p>Look directly at the camera while you speak and frame your portrait intimately, from the shoulders up, or closer. Viewers should feel like you’re talking to them directly.</p>
        </li>
        <li>
            <h4>Format</h4>
            <p>Wikitongues accepts videos of any level of technical quality. If you have access to a webcam or a smartphone, great! If you have access to professional audiovisual equipment, even better. For comparative production quality guidelines, see the table below.</p>
        </li>
        <li>
            <table>
                <tr>
                    <td class="label">Technical Quality</td>
                    <td class="label">Video</td>
                    <td class="label">Audio</td>
                    <td class="label">File Format</td>
                </tr>
                <tr>
                    <td class="label">1st Tier</td>
                    <td>DSLR Camera</td>
                    <td>Field recorder, preferably with lav mic and windscreen</td>
                    <td>H.264</td>
                </tr>
                <tr>
                    <td class="label">2nd Tier</td>
                    <td>Tablet or smartphone camera</td>
                    <td>iTalk for iOS, Audio Recorder for Android, or comparable app</td>
                    <td>H.264 or MPEG-4</td>
                </tr>
                <tr>
                    <td class="label">3rd Tier</td>
                    <td>Webcam</td>
                    <td>Native audio</td>
                    <td>MPEG-4, .mov, et. al</td>
                </tr>
            </table>
        </li>
    </ul>
  </section>
</div>