<div class="guidelines">
  <section class="page">
      <h1>Volunteering Guidelines</h1>
      <button {{action "hideGuidelines"}}>Close</button>
      <p>As a volunteer for Wikitongues, there are many ways to be involved.</p>
      <ol>
        <li>
          Becoming an ambassador
          <p>Ambassadors are members of our community who act as cultural representatives to their home and wherever else they may travel. They have authority to pursue partnerships with like-minded organizations and bring in new volunteers, and they have the responsibility to record as many languages videos as they can.</p>
        </li>
        <li>
          Joining the social media team
          <p>The social media team works to give our videos maximum visibility across our social networks. They also produce original content such as long-form articles for our <a href="http://wikitongues.tumblr.com/">blog</a> and share any and all inspiring linguistic and cultural content from across the web.</p>
        </li>
        <li>
          Joining our web dev team
          <p>Though our outlet is currently social media, we are working on new and better ways to show you every language in the world, and also to make it easier for anyone to contribute. If you have experience in UX/UI or development, we could use your help in the completion of a web and mobile app, slated for release in 2015.</p>
        </li>
      </ol>
  </section>
</div>