.about
  display inline-block
  // height 100%
  width 100%

  .content
    p
      &.bodyCopy
        bodyCopy()
        max-width 700px
        font-size 1.9em

  footer
    position absolute
    width initial
    left 50px
    right 50px
    bottom 0