.banner
    font-family 'Open Sans', sans-serif
    float left
    display inline-block
    width 100%
    max-height 550px
    overflow hidden

    &.index, &.team, &.mission, &.getInvolved
        height 550px
        background-size cover

    &.index
        max-height 380px
        background-image url("../img/banner.jpg")
        background-position-x 50%

    &.team
        background-image url("../img/map.jpg")
        background-position-x 50%

    &.mission
        background-image url("../img/teamBanner.jpg")
        background-position-y 50%

    &.getInvolved
        background-image url("../img/getInvolvedBanner.jpg")
        background-position-y 50%

    img
        width 100%
        float left

        &#mission
            margin-top -230px

    h1
        position absolute
        top 56px
        z-index 10
        width 100%
        color white
        margin 240px 0
        font-weight 700
        text-transform uppercase
        text-align center
        font-size 4em
        text-shadow 0 0 80px rgba(0,0,0,0.5)

    .map-canvas
        width 100%
        height 600px

    .credit
        opacity .4
        color white
        float right
        padding 1em
        margin-top 500px