.bookPage
  background #fafafa
  width 100% !important
  float left

  a.back
    float left

.book
  float left
  display inline-block
  border-radius $radius
  background #f4f4f4
  border-top 1px solid #f6f6f6
  margin 20px 15px
  width 350px
  height 350px
  overflow hidden
  box-shadow 0 2px 0 0 #C3C5C7, 0 2px 3px 0 #ddd

  &.open
    font-size .7em
    float none
    display block
    margin 20px auto
    max-height 700px
    height initial
    overflow-x hidden
    overflow-y scroll

    &:hover
      margin 20px auto
      box-shadow 0 2px 0 0 #C3C5C7, 0 2px 3px 0 #ddd

    section
      &.top-navigation
        h2
          margin 0
          cursor initial

      &.banner
        border none
        height 220px
        width 100%

        &:hover
          height 230px
          transition height ease-in-out 2*$transition-time

          img
            margin-top -18%
            transition margin-top ease-in-out 2*$transition-time

  &:hover
    margin 18px 15px 22px 15px
    box-shadow 0 4px 0 0 #C3C5C7, 0 2px 3px 1px #eaeaea

  *
    font-family $sans

  section
    &.top-navigation
      position absolute
      z-index 2
      width inherit
      background white
      height 50px
      border-bottom 1px solid #EDEDED

      a.icon
        display inline-block
        height 40px
        width 40px
        margin .3em 5px 0 5px
        background-size cover
        cursor pointer
        border-radius 20px

        &:hover
            background-color #f8f8f8

        &.more
          background-image url('../img/poly/more.svg')
          float right

          &.close
            background-image url('../img/poly/close.svg')

        &.favorite
          // display none
          background-position-y -40px

        &.star
          // display none
          background-image url('../img/poly/favorite.svg')
          float left

      .title
        line-height 1.6em
        cursor pointer
        font-size 1.2em
        float left
        width 240px
        overflow hidden
        display inline
        white-space nowrap
        text-overflow ellipsis
        height 50px
        padding .5em 0

      p.number
        padding 0.7em 0.8em
        float right
        display inline-block
        width initial
        margin 0
        font-size 0.8em
        color #bbb
        line-height 2.5em

    &.language-navigation
      background white
      display inline-block
      width 100%
      border-top 1px solid #EDEDED
      border-bottom 3px solid darken(#F4F4F4, 4%)
      float left

      span.direction
        background-image url('../img/poly/direction.svg')
        width 6%
        float left
        height 22px
        margin-top 0.8em

      .language
        text-align center
        cursor pointer
        width 47%
        float left
        margin 0
        font-size 1.4em
        padding .4em .8em
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        text-transform capitalize

  .banner
    margin-top 50px
    border none
    height 250px
    width 100%

    img
      margin-top -15%

  .moreInfo
    position absolute
    z-index 1
    height 0
    width 350px
    overflow hidden
    margin-top 25px
    transition height 0s linear, margin-top $transition-time ease-in-out

    *
      ::selection
        background none

    .background
      width 0
      height 0
      background #fafafa
      opacity .5
      border-radius 0 0 285px 285px
      margin-top 0
      margin-left 175px
      position absolute
      z-index -1
      overflow hidden

      .info
        margin 0 -175px
        font-size 0.9em
        height 220px
        width 350px
        padding 1em

        .author
          margin-bottom 1em

        section
          display inline-block

          &.privacy, &.editability
            width 52%
            float left

          &.privacy
            margin-bottom 1em

          &.social
            float right
            width 40%

            p
              width 100%


          p, a
            clear none

        p
          padding-bottom .3em
          margin 0
          display none
          width auto

          &.note
            clear left
            color #888

        a
          float right
          background #f0f0f0
          height 24px
          width 60px
          margin-left 1em
          border-radius 24px
          border 1px solid #eaeaea
          box-shadow 0 1px 0 0 #C3C5C7 inset
          display block
          cursor pointer

          span.toggle
            display block
            height 16px
            width 16px
            background #fff
            box-shadow 0 1px 0 0 #C3C5C7
            border 1px solid #f0f0f0
            border-radius 100%
            margin 3px
            transition-time .5*$transition-time

          &.toggled
            box-shadow 0 2px 0 0 darken(#49D070, 20%) inset
            background #49D070

            .toggle
              box-shadow 0 1px 0 0 darken(#49D070, 20%)
              margin-left 38px

    &.open
      height 220px
      margin-top 50px

      .background
        height 285px
        width 570px
        margin-left -110px
        margin-top 0
        opacity 1

        .info
          margin-left 110px

        p
          display inline-block

  .phrases
    float left
    font-size 1.4em
    display inline-block
    padding .1em 0 0 0
    width 100%

    ul.entries
      clear both
      width 100%
      padding 0
      font-size 0.6em
      background #fcfcfc
      min-height 230px
      display inline-block
      float left

      p.empty
        text-align center
        color $secondary-blue
        margin 0
        font-size 1.4em

      li.entry
        float left
        width 100%
        display inline-block
        padding 0.7em
        border-top 1px solid transparent
        border-bottom 1px solid transparent

        &.new
          border-bottom 0
          padding-bottom 0

        &:last-of-type
          border-bottom none

        &:hover
          background #f8f8f8
          border-color #f5f5f5

        ul
          display inline-block
          width 100%
          padding 0
          float left

          li
            display inline-block
            width 100%
            float left

            &:hover
              .options-wrapper
                  width 123px

            p
              width initial
              display inline-block
              margin 0
              padding .7em 1em
              position relative
              z-index 1
              font-size 1.2em
              max-width 230px

            &.source
              p
                margin-bottom 4px
                border-radius 28px 28px 28px 0
                float left
                background $source
                border 1px solid darken($source, 2%)

                &:hover
                  background lighten($source, 20%)
                  border-color darken($source, 1%)

              .options-wrapper
                margin-left -20px
                float left

                .options
                  border-radius 0 26px 26px 0
                  margin-left -220px
                  padding-left 40px
                  float left

              &:hover
                .options-wrapper
                  .options
                    margin-left -20px

              span.circle
                float left
                margin-right 0

            &.target
              p
                border-radius 28px 28px 0 28px
                float right
                background $target
                border 1px solid darken($target, 2%)

                &:hover
                  background lighten($target, 15%)

              .options-wrapper
                margin-right -20px
                float right

                .options
                  border-radius 26px 0 0 26px
                  margin-right -220px
                  padding-right 40px
                  float right

              &:hover
                .options-wrapper
                  .options
                    margin-right -20px

              span.circle
                float right
                margin-left 0

            span.circle
              margin 1.2em .5em
              border-radius 100%
              width 10px
              height 10px
              float left
              border 1px solid #C5C9CB
              display block

              &:hover
                cursor pointer
                background #C5C9CB

            .options-wrapper
              width 0
              overflow hidden
              display inline-block
              height 52px

              .options
                width 142px
                display inline-block
                background #fff
                border 1px solid darken(#f9f9f9, 2%)
                position relative
                z-index 0

                a
                  cursor pointer
                  display inline-block
                  float left
                  border-radius 100%
                  padding 5px
                  border 1px solid transparent

                  img
                    float left
                    height 38px
                    width 38px

                  &:hover
                    background #F8F8F8

      li.entry.entering
        border none
        padding 0 .7em
        display none

        &:hover
          background transparent
          border-color transparent

        ul
          li
            width 100%
            &.source
              padding-top .7em
              float left
              margin-bottom 4px

            &.target
              padding-bottom .7em
              display none
              float right

            p
              .progress
                display inline-block
                width 18px
                padding-top 1em

                @keyframes loading
                  0%
                    transform translateY(0px)
                  50%
                    transform translateY(-6px)
                  100%
                    transform translateY(0px)

                span
                  background #4F6387
                  border-radius 100%
                  margin 0 3px 0 0
                  height 4px
                  width 4px
                  float left

                  &:nth-of-type(1)
                    -webkit-animation loading 1s 0s infinite cubic-bezier(.60,0,.40,1)

                  &:nth-of-type(2)
                    -webkit-animation loading 1s .1s infinite cubic-bezier(.60,0,.40,1)

                  &:nth-of-type(3)
                    margin 0
                    -webkit-animation loading 1s .2s infinite cubic-bezier(.60,0,.40,1)

    .addPhrase
      padding .4em 0
      width 350px
      background #f4f4f4
      float left
      position relative
      z-index 1

      button
        outline none
        border none
        cursor pointer
        height 50px
        width 50px
        padding 5px 13px 8px
        border-radius 100%
        margin 0 auto
        display block
        color $hover
        background #fdfdfd
        box-shadow 0 2px 0 #eee
        font-weight 700
        font-size 1.3em
        text-shadow 0 1px darken($hover, 25%)

        &:hover
          box-shadow 0 3px 0 #e9e9e9
          background #fff

    .newPhrase
      float left
      height 0
      padding .1em 0
      width 100%
      position relative
      z-index 2
      margin-bottom -69px
      margin-top 0
      overflow hidden

      &.open
        height 69px
        margin-bottom 0
        margin-top -69px

      input
        border none
        font-size .65em
        padding 1em 1em
        width auto
        outline none
        height 64px
        width 100%
        float left
        background #FFF

        &.target
          display none

      a.icon.save
        position relative
        z-index 1
        background #fdfdfd
        color $hover
        font-size 0.7em
        width 40px
        border-radius 100%
        height 40px
        float right
        padding .9em 0
        text-align center
        box-shadow 0 2px 0 #eee
        cursor pointer
        font-weight 700
        text-shadow 0 1px darken($hover, 25%)
        line-height .6em
        padding .6em
        font-size 1em
        margin -52px 5px 0 0

        &:hover
          box-shadow 0 3px 0 #e9e9e9
          background #fff

        &.saveTarget
          display none

  &.newBook
    border none
    cursor pointer

    .wrapper
      display inline-block
      background #fff
      box-shadow 0 3px 0 #eee
      height 250px
      width 250px
      border-radius 100%
      margin auto

      img
        display none
        height 150px
        margin-top 40px

      p
        font-family $sans
        font-style normal !important
        color $hover
        font-size 10em
        font-weight 700
        width 70px
        margin .4em auto
        text-shadow 0 1px darken($hover, 25%)
        line-height 150px

