.careers
  .content
    h1
      max-width 700px
      width 80%
      font-family 'Merriweather', serif
      margin auto
      text-align center

    p
      &.quotidian
        font-size 1.1em
        line-height 1.5em
        text-align center