.contact
  .content
    section
      padding 20px 0
      border-bottom 1px #eee solid

      &:first-of-type
        padding-top 0

      &:last-of-type
        border-top none

    *
      font-family 'Merriweather', serif

    h1, p
      width 80%
      max-width 700px

    h1
      margin 1em auto
      font-size 1.9em

    p
      margin 1em auto
      font-size 1.1em
      line-height 1.5em

    a
      color $red
      font-style italic

      &:hover
        text-decoration underline

      &:visited
        color darken($red, 50%)

    .labs
      h1
        margin-top .5em

      .map
        width 100%
        max-width 1000px
        margin auto
        background #efefef

        img
          width 100%
      p
        text-align center

        &.address
          margin 2em auto