.book.createBook
  section
    input
      border none
      font-family $sans

    &.top-navigation
      input
        height 100%
        width 240px
        font-size 1.2em
        overflow hidden
        text-overflow ellipsis
        white-space nowrap

  nav.language-navigation
    .language
      &:first-of-type
        float left
