  .document.createBook
    nav
      input
        border none
        font-family "Open sans", "helvetica", sans-serif

      &.top-navigation
        input
          height 100%
          width 240px
          font-size 1.4em
          overflow hidden
          text-overflow ellipsis
          white-space nowrap

      &.language-navigation
        input
          &:first-of-type
            float left
