.dashboard
  overflow auto
  background #fafafa
  width 100% !important
  max-width 100% !important
  display inline-block
  font-family $sans

  p.dashboardSections
    margin 1em 1em 0 1em
    font-family "lora"
    font-style italic
    color $blue