.loginWrapper
  background #fafafa
  display inline-block
  width 100%

  form.login
    border-radius $radius
    border 1px solid #f4f4f4
    background white
    height 500px
    width 520px
    display block
    margin 4em auto
    padding 5em

    *
      font-family $sans

    h2, a
      text-align center

    a
      cursor pointer

    label, button, a
      display block
      margin 1em 0

      input
        margin-top .3em
        padding .5em .2em
        font-size 1em
        border 1px solid #eee

        &[type=text]
          width 100%
          display block

    .loginOptions
      label
        display inline
        float left
        width 50%

        input
          margin 0 5px 0 0

      a
        color #ccc
        display inline
        float right
        width 50%
        text-align right

        &:hover
          color $hover

    button
      font-size 1.2em
      width 100%
      button()