*
  font-family 'Roboto', sans-serif

html
  width 100%
  height 100%
  display inline-block
  margin 0

body
  margin 0
  padding 0 50px
  width inherit
  display inline-block
  box-sizing border-box

  >div
    display inline-block
    width inherit
    height inherit

a
  font-weight 100
  color initial
  text-decoration none

  &.active
    font-style italic